
/*
============================================================
  Parallax CSS SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 100px 0;
  background-color: #F2F2F2;
}
section.module2.content {
  padding: 100px 0;
  background: rgba(246, 92, 81, 1);
}
section.module3.content {
  padding: 100px 0;
  background-color: #F2F2F2;
}
section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  margin-top: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 800px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quote {
  font-size: 1em;
}

section.module.parallax-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/23878/pano_two.jpg");
  background-color: #c95347;
}
section.module.parallax-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/23878/pano_one.jpg");
  background-color: #58595B;
}
section.module.parallax-3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/23878/desktop.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 19px;
  }
}

/* ------- [ End Parallax CSS ] ------- */

